body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Arial, sans-serif;
}
.container{
	width: 325px;
	height: auto;
	margin:100px auto;
	padding: 20px 20px 10px 0;
	background: #FAB;
	border-radius: 5px;
	box-shadow: 0 4px 0 10px #909090;
}
.top{
	position: relative;
	width: 98%;
	height: auto;
	padding: 10px;
	background: #FAFA00;
	text-align: right;
}
.top .opKey{
	float: right;
	margin-left: 8%;
	margin-top: 0;
	margin-bottom: 0;
	width: 65px;
}
.screen{
	height: 40px;
	width: 210px;
	padding: 0 10px;
	border-radius: 5px;
	box-shadow: 0px 4px #800080;
	background-color:red;
	font-size: 25px;
	text-align: right;
	line-height: 40px;
	color: white;
	letter-spacing: 2px;
}
.keys, .top{
	overflow: hidden;
}
.numKey, .opKey{
	float: left;
	width: 65px;
	height: 40px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 4px #800080;
	margin: 10px 6px 10px 6px;
	color: black;
	font-weight: bolder;
	align-content: center;
	cursor: pointer;
	top: 0;
	text-align: center;
}
.opKey{
	background-color: orange;
}
button:hover{
	background-color: blue;
	color: white;
}
