body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Arial, sans-serif;
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark-triangles.png");
}
.container{
	width: 325px;
	height: auto;
	margin:90px auto;
	padding: 20px 20px 10px 0;
	background: #ef9221;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 15px 17px rgba(0, 0, 0, 0.2);

}
section{
	width: 100%;
}
.top{
	position: relative;
	width: 98%;
	height: auto;
	padding: 10px;
	background: #ef9221;
	text-align: right;
}
.top .opKey{
	float: right;
	margin-left: 8%;
	margin-top: 0;
	margin-bottom: 0;
	width: 65px;
	border-radius: 100%;
}
.screen{
	height: 40px;
	width: 200px;
	padding: 0 10px;
	border-radius: 10px;
	box-shadow: px 4px rgba(0, 0, 0, 0.2);
	background-color:rgba(0, 0, 0, 0.2);
	font-size: 25px;
	text-align: right;
	text-shadow: 1px 1xp 2px rgba(0, 0, 0, 0.2);
	line-height: 40px;
	color: white;
	letter-spacing: 2px;
	float: right;
	text-overflow: ellipsis;
	overflow: hidden;
}
.keys, .top{
	overflow: hidden;
}
.numKey, .opKey{
	float: left;
	width: 65px;
	height: 40px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 10px 6px 10px 6px;
	color: black;
	font-weight: bolder;
	align-content: center;
	cursor: pointer;
	top: 0;
	text-align: center;
	outline: none;
	font-size: 20px;
	background: white;

}
.opKey{
	background-color: #55e065;
}
button:hover{
	background-color: #e86620;
	color: white;
	outline: none;
}
